:root {
  /* Colours */
  --color-text: #fff; /* White text */
  --color-primary: #000; /* Black primary color */
  --color-secondary: rgba(25, 55, 109, 0.7) ; /* Black secondary color */
  --color-dark: #020a13; /* Black dark color */
  --color-bg: #000; /* Black background color */

  /* Fonts */
  --font-roboto: "Roboto";
}

body {
  color: var(--color-text); /* Set text color to white */
}

.App {
  background-color: var(--color-bg); /* Set background color to black */
  width: 100%;
  height: 100%;
  overflow: hidden;
}
